.popup__input {
  padding: 0 0 13px 0;
  border: none;
  width: 358px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  outline: none;
  position: relative;
}
.popup__input:first-child {
  margin-bottom: 30px;
}

@media (max-width: 570px) {
  .popup__input {
    width: 238px;
  }
}
