.popup__container {
  border-radius: 10px;
  width: 430px;
  min-height: 347px;
  z-index: 2;
  background-color: #fff;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 570px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
