.popup__close {
  width: 33px;
  height: 33px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -41px;
  right: -41px;
}
.popup__close:hover {
  opacity: 0.8;
}

@media (max-width: 570px) {
  .popup__close {
    width: 21px;
    height: 21px;
    background-image: url(../../../images/CloseIcon-min.svg);
    top: -37px;
    right: 0px;
  }
}
