.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 767px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 540px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
