.profile__edit-info {
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile__edit-info:hover {
  opacity: 0.6;
}
.profile__edit-info::after {
  content: "";
  background-image: url(../../../images/pencil.svg);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .profile__edit-info {
    width: 18px;
    height: 18px;
  }
}
